/vendor
local-config.php
/assets/Uploads
/assets/_resampled
/assets/_combinedfiles
/themes/SSB/combinedfiles
/silverstripe-cache
_ss_environment.php

# Modules to ignore #
/public_html/cms
/public_html/framework
/public_html/gridfieldextensions
/public_html/dataobjectaspage
/public_html/dataobjectaspagefilter
/public_html/googlesitemaps
/public_html/gridfield-bulk-editing-tools
/public_html/gridfieldextensions
/public_html/silverstripe-utils
/public_html/memberemailvalidator
/public_html/silverstripe-opauth

# Ignore these files in Assets #
/assets/*.jpg
/assets/*.jpeg
/assets/*.png
/assets/*.gif
/assets/*.html

# Always ignore these files #
*.zip
*.exe
*.tar
*.gzip
*.doc
*.docx
*.pdf
*.xls
*.xlsx
*.mp3
*.wav
*.mov
*.mp4
*.m4v
*.m4a
